*{
	margin: 0px;
	padding: 0px 2px;
}

.container{
	display: grid;
	grid-template-rows: 1fr 7fr;
	grid-template-areas: 	"nav nav nav"
							"body body body"
}

article{
	grid-area: body;
	grid-column:2 / 2 ;
	align-self:center;
}

.nav-contacto{
	grid-area: nav;
}

aside{
	display: flex;
	width: fit-content;
	font-size:14px;
	margin-top: 8px;
}

main{
	background-color: #eff8ff;
}

.seccion{
	display: inline-block;
	padding: 10px;
	text-align: right;
	font-size: 15px;
}

.seccion a{
	text-decoration: none;
}

h1{
	text-align: center;
	font-size: 40px;
}

h2{
	font-size: 25px;
}

h4{
	text-align: right;
}

header{
	background-image: url(portada.jpg);

	background-size: cover;
	height: 400px;
	background-repeat: no-repeat;
}

ul{
	list-style-position: inside;
  	list-style-type: circle;
}

.portada{
	color: white;
	font-size: 95px;
	text-align: center;
	font-family: 'Fredericka the Great',cursive;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-shadow: 2px 2px 2px black;
}

table{
	border: 1px solid;
	text-align: center;
	vertical-align: center;
}

table th{
	background-color: #153e90;
	text-align: center;
	color: white;
}

td{
	text-align: center;
}

div ul {
   list-style: none;
   font-size:0;
   padding: 15px;
}

div li {
	text-align: center;
	border-style: groove;
  	display: inline-block;
	position:relative;
	font-size: 14px;
}

div ul ul {
	position: absolute;
	display: none;
	background-color:#eff8ff;
	padding: 2px;
}

div ul ul li {
   display: block;
}

div {
    ul { 
        li:hover {
            ul {
                display:block;
            }   
        }
    }
}

footer{
	background-image: linear-gradient(to bottom, #eff8ff , #cdfbee);
}

footer {
    li:hover{
        text-decoration: underline;
        transform: skew(2deg,2deg);
    }
}